development:
  adapter: postgresql
  encoding: unicode
  database: chat_app_development
  pool: 5
  username: username
  host: localhost
  password: password

test:
  adapter: postgresql
  encoding: unicode
  database: chat_app_test
  pool: 5
  username: username
  password: password

production:
  adapter: postgresql
  encoding: unicode
  database: chat_app_production
  pool: 5
  username: username
  password: password 